.container {
  /* padding: 10px; */
}

.error {
  color: red;
}
.wrap {
  padding: 20px;
  background-image: url('../../img/6532.webp');

  background-size: cover;
  background-position: center; /* Выравнивание изображения по центру */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  width: 100%;
  height: 100vh;
}
