/* .wrap {
  padding: 26px;
} */

/* .formWrap { */
/* display: flex;
  flex-direction: column;
  gap: 14px; */
/* border: 1px solid gray; */
/* border-radius: 6px; */
/* padding: 10px;
  width: 40%;
  margin-bottom: 20px; */
/* } */
/* .formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
/* .btn {
  width: 30%;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover {
  border: 4px solid blue;
} */
