.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter {
  border-radius: 4px;
  border: 2px solid rgb(0, 234, 255);
}

.btnDel:hover {
  border: 4px solid blue;
}
.btnDel {
  border: 2px solid grey;
  border-radius: 3px;
  cursor: pointer;
}
.btn {
  width: 30%;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover {
  border: 4px solid blue;
}
